<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text"><a href="http://www.tinkoff.ru">korrus82</a> &copy;
            <put-date th:text=${#dates.year(#dates.createNow())}></put-date>
            | CRUD Operation
        </p>
    </div>
</nav>
</body>
</html>